{% extends 'base.html' %}

{% block title %}Introduction{% endblock %}


{% block header %} Introduction {% endblock %}

 {% block content %}
     <p>
     Working as a software developer is a job description, but it can quickly turn into a lifestyle. At some point, you start tweaking your habits to accommodate your needs from a professional standpoint. You may have changed what you eat, hoping to limit energy spikes and be more consistently productive. Or you may have made sure you get a consistent eight hours of sleep nightly to maintain excellent brain function. Some have taken the road of cutting out substances that are detrimental to health, such as alcohol, cigarettes or large amounts of sugar.

The drive that inspires people to make a change can be categorised roughly in one of the following:

    You do not feel content with what you are doing, you do not see a purpose behind your actions and your work any more You have realised you are merely going through the motions of old habits and feel stuck. This can also be considered an indication you may have burnt out.

    You want to optimise what you do as a part of your daily routine in a way that is helpful and makes you feel healthier, better and more active without feeling as tired — both as a developer and in your personal life.



     </p>

{% endblock %}