{% extends 'base.html' %}

{% block title %}Mission{% endblock %}


{% block header %} Mission {% endblock %}

 {% block content %}
    By making youtube videos, sharing knowlegde and experience we just want to make a better community!
     A lack of motivation is a mundane and troublesome issue that affects almost everyone.
     Human nature is a complex amalgamation of distinct characteristics and we, as humans, tend to fall into despair and hopelessness when we feel like we aren’t making any progress.
     If you want to motivate or inspire someone, join our community!
    Think about it,  there is always something you can do to make progress in what you want to do. The more of these things you can find in life the better you’re going to feel. <br>

     {% load static %}
     <img src="{% static 'img/frozen3.gif' %}" style="margin-top: 50px" alt="My image"> <br>
{% endblock %}